*, 
html {
  margin: 0;
  padding: 0;
}

body {
    background-image: url("file-20211029-24-qblxnc.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.div-navbar {
  background-color: gray;
  width: 100%;
  height: 100px;
}
.ul-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linavbar {
   list-style-type: none;
   padding: 20px;
   margin: 5px;
   color: white;
   font-size: 30px;
}
.a-navbar {
  color: black;
  text-decoration: none;
}
.linavbar:hover {
  background-color: white;
  color: white;
  transition: .3s ease-in-out;
  transition-delay: .1s;
  border-radius: 8px;
}
section {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}